CompileFlags:
  Add: [
    "-Wno-unknown-warning-option",
    "-Wno-unused-variable",
    "-Wno-unused-function",
    "-Wno-missing-prototypes",
    "-Wno-missing-declarations"
  ]
  Remove: [
    "-m*",
    "-fconserve-stack",
    "-fno-allow-store-data-races",
    "-mindirect-branch*",
    "-mfunction-return*",
    "-fpatchable-function-entry*",
    "-mskip-rax-setup",
    "-mpreferred-stack-boundary=*",
    "-mstack-protector-guard-reg=*",
    "-mstack-protector-guard-symbol=*",
    "-mharden-sls=*"
  ]
